<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>{{title}} <span [ngStyle]="{'padding-left': '30px'}">{{usuario.porc}}% de
        {{usuario.total}}</span>
    </mat-card-title>
    <mat-card-title>
      <h2>{{usuario.descr}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row" *ngFor="let animal of usuario.cinco; trackBy: trackAnimal">
      <div class="col">
          <button mat-raised-button #resposta color="primary" type="button" (click)="clickAnimal(animal)">{{animal}}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="usuario.acertou == 1" [ngStyle]="{'color': '#145623', 'backgroundColor': '#d4edda'}">Acertou</mat-card>
<mat-card *ngIf="usuario.acertou == 0" [ngStyle]="{'color': '#711b23', 'backgroundColor': '#f8d7da'}">Errou</mat-card>