<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>
    <app-topo [title]="title" [usuario]="usuario"></app-topo>
      <h1>{{usuario.descr}}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row" *ngFor="let animal of usuario.cinco">
      <div class="col">
          <button class="bt-animal" mat-raised-button color="{{usuario.btCor}}" (click)="clickAnimal(animal)">{{animal}}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-rodape [usuario]="usuario"></app-rodape>