<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>
      <app-topo [title]="title" [usuario]="usuario"></app-topo>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex">
      <div class="item fig-forca"><app-desenho-forca
          [letras_erradas]="erros"></app-desenho-forca></div>
      <div class="item palavra">
        <p class="letra-forca">{{forca_exibir}}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-fab extended *ngFor="let letra of usuario.letradig" (click)="proximaLetra(letra)">
      {{letra}}
    </button>
    
  </mat-card-footer>
</mat-card>

<app-rodape [usuario]="usuario"></app-rodape>