<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar routerLink="/">Continhas</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/aritmetica"><span matBadge="&#215;&#247;" [matBadgeColor]="corAritmetica">Aritmética_</span></a>
      <a mat-list-item routerLink="/expressoes-numericas"><span matBadge="+-&#215;" [matBadgeColor]="corExpNum">Expressões Numéricas</span></a>
      <a mat-list-item routerLink="/animais"><span>Qual é o Animal?</span></a>
      <a mat-list-item><span>-</span></a>
      <a mat-list-item routerLink="/"><span>início</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="padding-left: 20px;">{{ title }}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>