@import '~@angular/material/theming';
@include mat-core();

// Extra theme.
$extra-primary: mat-palette($mat-light-green);
$extra-accent:  mat-palette($mat-cyan, A200, A100, A400);
$extra-warn:    mat-palette($mat-red);