<form [formGroup]="contaForm" novalidate (ngSubmit)="onSubmit(); resposta.focus()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <app-topo [title]="title" [usuario]="usuario"></app-topo>
        <div>
          <h2>{{usuario.expr | replace: '[*]' : '&#215;'}}</h2>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #resposta maxlength="10" placeholder="Resposta" type="number" formControlName="resposta"
              autofocus>
            <mat-hint align="end">{{resposta.value.length}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
<app-rodape [usuario]="usuario" [mensagem]="mensagem" [segunda]="usuario.seg"></app-rodape>