<div class="grid-container">
  <h1 class="mat-h1">Escolha sua Atividade:</h1>
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" routerLink="/{{card.link}}">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" [innerHTML]="card.content">
          <div>{{card.content}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>